$grayText: #777;
$grayBorder: #ccd0d4;
$mainOrange: #ff8000;
$mainOrangeHover: #df7000;

#rec4071407101 {
  padding: 0 !important;
  background: none;
}

.js-store-parts-select-container {
  display: none;
}
.js-store-grid-cont-preloader {
  display: none;
}
.js-store-grid-cont {
  display: none;
}
.js-custom-open-popup {
  cursor: pointer
}
.t-store__load-more-btn-wrap {
  display: none;
}

.custom {
  &-catalog {
    padding: 80px 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-family: "Somic", Arial, sans-serif;
    .t-container {
      position: relative;
    }
    &__swipe-btn {
      cursor: pointer;
      position: absolute;
      top: calc(50% - 64px);
      box-shadow: 4px 4px 7px 0 rgba(34, 60, 80, 0.25);
      border-radius: 50%;
      transition: opacity .3s ease;
      height: 64px;
      width: 64px;
      z-index: 2;
      &#swipe-right {
        right: -75px;
      }
      &#swipe-left {
        left: -75px;
        opacity: 0;
        pointer-events: none;
      }
    }
    &__more {
      padding: 64px 0 48px 0;
      button {
        margin: 0 auto;
        min-width: 200px;
        min-height: 57px;
        font-size: 20px;
        svg {
          width: 32px;
          height: 32px;
        }
      }
    }
    &__link {
      display: none;
      padding-top: 32px;
      a {
        text-align: end;
        font-weight: 500;
        font-size: 18px;
        text-decoration: underline;

      }
    }
    &--short {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 400px;
        background: linear-gradient(90deg, rgb(255, 255, 255) 55%, rgba(255, 255, 255, 0) 100%);
        z-index: 1;
      }
      &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 400px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 42%);
        z-index: 1;
      }
      .custom-catalog__more {
        display: none;
      }
      .custom-catalog__link {
        display: flex;
        justify-content: flex-end;
      }
      .custom-card__container {
        padding: 32px 0;
        display: flex;
        transition: transform .3s ease;
        will-change: auto;
      }
    }
  }
  &-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
    border-radius: 12px;
    background-color: white;
    border: 1px solid $grayBorder;
    width: 300px;
    flex-shrink: 0;
    font-family: "Somic", Arial, sans-serif;
    box-shadow: 4px 4px 7px 0 rgba(34, 60, 80, 0.25);
    transition: all 0.3s ease;
    &:hover {
      box-shadow: 4px 4px 7px 0 rgba(223, 112, 0, 0.25);
      border-color: $mainOrangeHover;
    }
    &--additional {
      justify-content: center;
      align-items: center;
      gap: 48px;
      .custom-card__request-button {
        margin-top: 0;
      }
      svg {
        width: 120px;
        height: 43px;
      }
      h3 {
        font-style: italic;
        font-size: 24px;
        text-align: center;
      }
    }
    &__top {
      border-radius: 12px;
      overflow: hidden;
      aspect-ratio: 4/3;
      background-color: lightgray;
      margin-bottom: 12px;
      img {
        object-fit: cover;
        height: 100%;
      }
    }
    &__info {
      color: black;
      margin-bottom: 24px;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 48px 32px;
      justify-items: center;
    }
    &__flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__label {
      position: absolute;
      top: -10px;
      right: -10px;
      padding: 14px;
      border-radius: 25px;
      background-color: #14a5de;
      font-size: 18px;
      font-weight: 500;
      box-shadow: 4px 4px 7px 0 rgba(34, 60, 80, 0.25);
      &--in-progress {
        background-color: #ffd916;
      }
      &--ready {
        background-color: #8bd310;
      }
    }
    &__type {
      font-size: 18px;
      font-weight: 500;
      padding: 6px 12px;
      border-radius: 25px;
      background-color: darkslateblue;
      color: white;
      line-height: 23px;
    }
    &__sku {
      color: $grayText;
      font-size: 14px;
      margin-top: 12px;
    }
    &__area {
      font-size: 18px;
      font-weight: 500;
      padding: 6px 12px;
      border-radius: 25px;
      background-color: $grayText;
      color: white;
      display: flex;
      align-items: center;
      gap: 8px;
      line-height: 23px;
    }
    &__city {
      display: flex;
      align-items: center;
      gap: 4px;
      font-size: 18px;
      font-weight: 500;
    }
    &__price {
      font-style: italic;
    }

    &__request-button {
      display: block;
      margin-top: 24px;
      text-align: center;
      padding: 10px;
      border-radius: 5px;
      border: none;
      white-space: nowrap;
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      transition: all 0.3s ease;
      color: white;
      background-color: $mainOrange;
      font-family: "Somic", Arial, sans-serif;
      &:hover {
        background: $mainOrangeHover;
      }
      &[disabled='true'] {
        cursor: not-allowed;
        background-color: $mainOrangeHover;
      }
    }
  }
}

.underline {
  border-bottom: 1px solid $grayBorder;
  padding-bottom: 8px;
}

.orange {
  color: $mainOrange !important;
}
.gray {
  color: $grayText;
}

.feedback-card {
  margin-bottom: 24px;
  font-family: "Somic", Arial, sans-serif;
  padding-bottom: 24px;
  img {
    max-width: 100%;
    width: 100%;
    height: auto;
    border-radius: 16px;
    margin-bottom: 12px;
  }
}

.t702 .t-submit {
  border-radius: 12px !important;
  background-color: $mainOrange !important;
}
.t702 .t-submit:hover {
  background-color: $mainOrangeHover !important;
}

/* стили для модалки с подробной инфой */
.t-store__prod-popup__btn {
  border-radius: 12px !important;
  background-color: $mainOrange !important;
}

.t-store__prod-popup__btn:hover {
  background-color: $mainOrangeHover !important;
}

.info-modal {
  font-family: "Somic", Arial, sans-serif;
  &__top {
    margin-bottom: 32px;
  }
  .t-store__prod-popup__sku {
    margin-top: 12px;
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 24px;
    margin-bottom: 32px;
    margin-top: 24px;
    &__name {
      font-size: 14px;
      color: $grayText;
    }
    &__value {
      font-size: 18px;
      font-weight: 600;
      span {
        font-size: 14px;
        color: $grayText;
      }
    }
  }
  &__table {
    margin-top: 32px;
    &__header {
      font-size: 14px;
      color: $grayText;
      padding-bottom: 12px;
      border-bottom: 1px solid $mainOrange;
      width: min-content;
      white-space: nowrap;
      margin-bottom: 12px;
    }
    &__item {
      display: flex;
      justify-content: space-between;
      padding: 18px 0;
      span {
        color: $grayText !important;
      }
    }
  }
}

// скрываем старые блоки подробной модалки (при удалении тильда кидает ошибку)
.t-store__prod-popup__title-wrapper,
.js-store-price-wrapper,
.js-product-controls-wrapper,
.t-store__prod-popup__links-wrapper,
.t-store__prod-popup__btn-wrapper,
.js-store-prod-text {
  display: none;
}
